@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand: #0B3954;
  --accent: #E5E7EB;
}
html{scroll-behavior:smooth;}
body{background-color:var(--accent);}

/* scrollbar */
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-thumb{background-color:rgba(100,116,139,0.4);border-radius:9999px}
